.s-reviews {
  padding: 75px 0;

  &__main-title {
    text-align: center;
  }

  &__base-btn {
    position: relative;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
  }

  .swiper-container-reviews {
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    top: auto;
    bottom: 0;
    width: 45px;
    height: 47px;
    line-height: 52px;
  }

  &__swiper-button-next {
    left: 75px;
  }

  &__item {
    padding: 30px;
    font-size: 18px;
    background-color: #f7f7f5;
    border-radius: 5px;
  }

  &__author {
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 20px;
    color: #020205;
  }

  &__descr {
    padding-bottom: 15px;
    font-weight: 300;
    color: #020205;
  }

  &__text {
    height: 76px;
    padding-bottom: 15px;
    color: #3f3f3f;
    overflow: hidden;

    &--toggle {
      height: 100%;
    }
  }

  &__btn {
    font-weight: bold;
    font-size: 18px;
    color: #ff8b00;
    background-color: transparent;
    border: none;
  }
}
