.p-catalog {
  &__big-set {
    margin-bottom: 70px;
  }

  .small-set-body {
    margin-bottom: 70px;
  }

  .col-4 {
    @include size-md(6);
    @include size-sm(12);

    // @include lg-block() {
    //   margin-bottom: 30px;
    // }
  }
  .small-set {
    @include xs-block() {
      &__title {
        padding-bottom: 15px;
        font-size: 20px;
      }

      &__slogan {
        font-size: 14px;
      }
    }
  }

  &__base-btn {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
  }
}
