.s-all-set {
  padding: 75px 0;

  &__main-title {
    text-align: center;
  }

  &__big-set {
    margin-bottom: 40px;
  }

  &__base-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }

  .swiper-slide-visible {
    opacity: 0.65;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
