.s-header {
  padding: 13px 0;
  font-family: $second-typeface;
  background-color: #1b1b1b;

  @include md-block {
    padding: 0;
    background-color: #f6f6f6;
  }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;

    @include md-block {
      justify-content: space-between;
    }

    &__logo-mobile {
      display: none;

      width: 55px;
      height: 45px;

      img {
        width: inherit;
        height: inherit;
      }

      @include md-block {
        display: block;
      }
    }

    &__cart {
      position: relative;
      margin-left: 65px;

      @include md-block {
        margin-left: auto;
        padding-right: 25px;
      }

      svg {
        margin-bottom: -6px;

        @include md-block {
          path {
            fill: #1b1b1b;
          }
        }
      }

      &-count {
        position: absolute;
        top: -5px;
        left: 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        background-color: #ff8b00;
        border-radius: 50%;
      }

      &-summ {
        display: inline-block;
        font-size: 14px;
        color: #ff8b00;

        @include md-block {
          display: none;
        }
      }
    }

    .burger-icon {
      display: none;
      // width: 100%;
      // max-width: 90px;
      height: 100%;
      max-height: 65px;
      margin-right: -14px;
      padding: 36px;
      background: url("../img/icons/burger.svg") center no-repeat;
      border-left: 1px solid #cccccc;

      @include md-block {
        display: block;
      }
    }
  }

  .contacts {
    @include md-block {
      display: none;
    }
  }
}

.main-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: $second-typeface;

  @include md-block {
    display: none;
  }

  &__item {
    &:last-child a {
      margin-right: -50px;
    }
  }

  a {
    display: inline-block;
    padding: 25px 50px;
    color: #020205;

    transform: skewX(-20deg);
    transition: $base-transition;

    &:hover {
      color: #ffffff;
      background-color: #ff8b00;
    }

    span {
      display: inline-block;
      transform: skewX(20deg);
    }

    @include xl-block {
      padding-right: 47px;
      padding-left: 47px;
    }
  }
}

.logo-block {
  position: absolute;
  top: -65px;
  left: -37.6%;
  z-index: 5;

  width: 100%;
  max-width: 553px;
  height: 134px;

  text-align: right;

  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  transform: skewX(-20deg);

  a {
    display: inline-block;
    width: 111px;
    margin-top: 22px;
    margin-right: 17px;
    padding: 0;
    transform: skewX(20deg);

    &:hover {
      background-color: transparent;
    }

    @include xl-block() {
      margin-right: 47px;
    }
  }

  img {
    display: block;
    width: 111px;
    height: 88px;
  }
}
