.s-header {
  padding: 13px 0;
  font-family: $second-typeface;
  background-color: #1b1b1b;

  .top-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;

    &__cart {
      position: relative;
      margin-left: 65px;

      svg {
        margin-bottom: -6px;
      }

      &-count {
        position: absolute;
        top: -5px;
        left: 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
        background-color: #ff8b00;
        border-radius: 50%;
      }

      &-summ {
        display: inline-block;
        font-size: 14px;
        color: #ff8b00;
      }
    }
  }
}

.main-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: $second-typeface;

  &__item {
    &:last-child a {
      margin-right: -50px;
    }
  }

  a {
    display: inline-block;
    padding: 25px 50px;
    color: #020205;

    transform: skewX(-20deg);
    transition: $base-transition;

    &:hover {
      color: #ffffff;
      background-color: #ff8b00;
    }

    span {
      display: inline-block;
      transform: skewX(20deg);
    }
  }
}

.logo-block {
  position: absolute;
  top: -65px;
  left: -37.6%;
  z-index: 5;

  width: 100%;
  max-width: 553px;
  height: 134px;

  text-align: right;

  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  transform: skewX(-20deg);

  a {
    display: inline-block;
    width: 111px;
    margin-top: 22px;
    margin-right: 17px;
    padding: 0;
    transform: skewX(20deg);
  }

  img {
    display: block;
    width: 111px;
    height: 88px;
  }
}
