.p-item-page {
  &__big-set {
    margin-bottom: 70px;
    background-color: #ffffff;

    .col-6 {
      border-radius: 5px;

      @include size-md(12);
    }

    .big-set__descr {
      @include md-block() {
        padding-right: 0;
      }
    }
  }

  &__main-title {
    text-align: left;
  }
}

.delivery {
  padding: 15px;
  background-color: #f7f7f5;
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #020205;
  }

  &__item {
    position: relative;
    padding-left: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #3f3f3f;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
    }

    &--truck {
      &::before {
        content: url("../img/icons/truck.svg");
      }
    }

    &--box {
      &::before {
        content: url("../img/icons/box.svg");
      }
    }

    &:first-child {
      padding-bottom: 15px;
    }

    p {
      padding-bottom: 10px;
    }
  }
}
