.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.menu-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-content {
  flex: 1 1 auto;
}

.container {
  @include container();
}

.row-flex {
  @include row-flex();
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  @include col();
}

.col-2 {
  @include size(2);
}

.col-3 {
  @include size(3);
}

.col-4 {
  @include size(4);
}

.col-5 {
  @include size(5);
}

.col-6 {
  @include size(6);
}

.col-7 {
  @include size(7);
}

.col-8 {
  @include size(8);
}

.contacts {
  position: relative;
  margin-left: 50px;
  padding-left: 35px;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
  }

  a {
    position: relative;
    color: inherit;
    transition: $base-transition;

    &:hover {
      color: #ff8b00;
    }
  }

  &--mail {
    &::before {
      content: url("../img/icons/mail.svg");
    }
  }
  &--phone {
    &::before {
      content: url("../img/icons/phone.svg");
    }
  }
  &--mobile {
    &::before {
      content: url("../img/icons/mobile.svg");
    }
  }
}

// ACCORDEON

.accordeon {
  border-radius: 5px;

  &__item-title {
    position: relative;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;

    background: #f7f7f5;
    border-left: 1px solid #f7f7f5;
    border-right: 1px solid #f7f7f5;
    border-bottom: 1px solid #cccccc;

    cursor: pointer;

    &::after {
      content: url("../img/icons/plus.svg");
      position: absolute;
      top: 50%;
      right: 30px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
    }

    &--active {
      color: #ffffff;
      background: #ff8b00;
      border-left: 1px solid #ff8b00;
      border-right: 1px solid #ff8b00;
      border-bottom: none;

      &::after {
        content: url("../img/icons/minus.svg");
      }
    }
  }

  &__item-text {
    display: none;

    padding: 30px;
    font-size: 18px;
    color: #3f3f3f;

    border: 1px solid #cccccc;
    border-top: none;

    p {
      max-width: 774px;
    }

    &--show {
      display: block;
    }
  }
}

// SEO-TEXT {
.seo-text {
  padding-bottom: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3f3f3f;

  p {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

// BASE-BTN
.base-btn {
  display: inline-block;
  padding: 16px 36px;
  font-family: $second-typeface;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  background: #ff8b00;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px #e37c00;

  transition: $base-transition;

  &:hover {
    box-shadow: inset 0px 0px 0px 0px #e37c00;
    filter: drop-shadow(0px 3px 3px rgba(255, 139, 0, 0.6));
  }

  &--darken {
    background: #db6d00;
  }

  &--arrow {
    span {
      position: relative;
      top: 2px;
      display: inline-block;
      margin-left: 19px;
    }
  }
}

.show-more-btn {
  font-weight: bold;
  font-size: 18px;
  color: #ff8b00;
  background-color: transparent;
  border: none;
}

// BIG-SET
.big-set {
  padding-bottom: 50px;
  background-color: #f7f7f5;
  border-radius: 5px;

  &__descr {
    padding-top: 30px;
    padding-right: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding-bottom: 25px;
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;

    color: #020205;
  }

  &__price {
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
  }

  &__slogan {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #3f3f3f;
  }

  &__btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__base-list {
    border-bottom: 1px solid #cccccc;
  }

  .col-6 {
    border-radius: 5px;
  }

  &__swiper {
    .slider__item {
      img {
        display: block;
        width: 570px;
        height: 388px;
        object-fit: cover;
      }
    }

    .swiper-container-thumbs {
      margin-top: 20px;

      img {
        display: block;
        width: 100px;
        height: 100px;
        object-fit: cover;

        cursor: pointer;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  width: 40px;
  height: 40px;

  line-height: 43px;
  text-align: center;

  background-color: #ff8b00;

  border-radius: 50%;

  transform: translateY(-50%);
  transition: $base-transition;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0px 5px 5px rgba(255, 139, 0, 0.6));
  }
}

.swiper-button-next {
  right: 0;
  left: auto;

  svg {
    transform: rotate(180deg);
  }
}

// SMALL-SET
.small-set {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  padding: 0px 20px 20px 20px;

  background-color: #f7f7f5;
  border-radius: 5px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &--price {
      border-top: 1px solid #cccccc;
    }

    &--btn {
      padding-bottom: 0;
      border-top: 1px solid #cccccc;
    }
  }

  &__img {
    margin-right: -20px;
    margin-bottom: 30px;
    margin-left: -20px;

    img {
      display: block;
      width: 100%;
      height: 246px;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
    }
  }

  &__title {
    padding-bottom: 15px;
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #020205;
  }

  &__slogan {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #3f3f3f;
  }

  &__base-list {
    flex-grow: 1;
  }

  &__price {
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #ff8b00;
  }

  &__base-btn {
    width: 100%;
    max-width: 148px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
  }

  &--new,
  &--best {
    &::before {
      content: "";
      position: absolute;
      top: -22px;
      right: -22px;
      display: inline-block;
      width: 55px;
      height: 55px;

      font-family: $second-typeface;
      font-size: 18px;
      line-height: 55px;
      text-align: center;

      color: #ffffff;

      background-color: #fa0606;
      border-radius: 50%;
    }
  }
}

// BASE-LIST
.base-list {
  padding-bottom: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3f3f3f;

  li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;

      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: rgba($color: #ff8b00, $alpha: 0.5);
      border-radius: 50%;
    }
  }
}

// COUNTER

.counter {
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 25px;

    input {
      width: 100%;
      height: 25px;
      margin: 0 14px;

      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: #020205;
      background: transparent;
      border: 0.5px solid #cccccc;
      border-radius: 5px;
    }

    .minus,
    .plus {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      border: 0.5px solid #cccccc;
      border-radius: 50%;

      transition: $base-transition;

      cursor: pointer;

      &::before {
        content: url("../img/icons/minus-black.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: #ff8b00;
        border: 0.5px solid #ff8b00;
      }
    }

    .minus {
      &:hover {
        &::before {
          content: url("../img/icons/minus-white.svg");
        }
      }
    }

    .plus {
      &::before {
        content: url("../img/icons/plus-black.svg");
      }

      &:hover {
        &::before {
          content: url("../img/icons/plus-white.svg");
        }
      }
    }
  }
}

// REVIEW

.review {
  padding: 30px;
  font-style: normal;
  font-size: 18px;
  background: #f7f7f5;
  border-radius: 5px;

  &__author {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  }

  &__descr {
    padding-bottom: 20px;
  }
  &__stars {
    padding-bottom: 20px;
  }
  &__text {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cccccc;
  }
  &__date {
    font-weight: 700;
  }
}

//BASE FORM

.form {
  &__input,
  &__textarea {
    width: 100%;
    font-size: 18px;
    color: #686868;
    background: #ffffff;

    border: 1px solid #cccccc;
    border-radius: 5px;
  }

  &__input {
    padding: 16px 30px;
  }

  &__textarea {
    display: block;
    height: 240px;
    padding: 30px;

    resize: none;
  }

  &__stars {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 55px;
    color: #686868;

    svg {
      margin-right: 5px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
