.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  @include container();
}

.row-flex {
  @include row-flex();
}

.col-4,
.col-6 {
  @include col();
  border: 1px solid #000;
}

.col-4 {
  @include size(4);
}

.col-6 {
  @include size(6);
}

//BIG-SET
.big-set {
  border: 1px solid #000;
  padding-bottom: 50px;
  background-color: #f7f7f5;
  border-radius: 5px;

  &__descr {
    padding-top: 30px;
    padding-right: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 200px;
    padding-bottom: 25px;
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;

    color: #020205;
  }

  &__price {
    font-family: $second-typeface;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
  }

  &__slogan {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #3f3f3f;
  }

  &__btn-row {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  &__base-list {
    border-bottom: 1px solid #cccccc;
  }

  .col-6 {
  border-radius: 5px;
  }
}

//BASE-LIST
.base-list {
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3f3f3f;
  
  li {
    padding-left: 30px;
    position: relative;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;

      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: rgba($color: #ff8b00, $alpha: .5);
      border-radius: 50%;
    }
  }
}

// BASE-BTN
.base-btn {
  display: inline-block;
  padding: 16px 36px;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  background: #ff8b00;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px -3px 0px 0px #e37c00;

  transition: $base-transition;

  &:hover {
    box-shadow: inset 0px 0px 0px 0px #e37c00;
    filter: drop-shadow(0px 3px 3px rgba(255, 139, 0, 0.6));
  }

  &--darken {
  background: #DB6D00;
  }
}
