.p-contacts {
  @include sm-block() {
    .col-7 {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__main-title {
    padding-bottom: 90px;
    font-size: 40px;
    color: #020205;

    @include sm-block() {
      padding-bottom: 0;
    }
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__small-title {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #020205;
  }

  &__text {
    position: relative;
    padding-left: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3f3f3f;

    &--social {
      padding-left: 0;

      @include sm-block() {
        margin-bottom: 50px;
      }

      &::before {
        display: none;
      }

      a {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
    }

    &--address {
      &::before {
        content: url("../img/icons/f-address.svg");
      }
    }

    &--phone {
      display: inline-block;
      padding-bottom: 20px;

      &::before {
        content: url("../img/icons/f-phone.svg");
      }
    }

    &--mobile {
      display: inline-block;

      &::before {
        content: url("../img/icons/f-mobile.svg");
      }
    }

    &--mail {
      &::before {
        content: url("../img/icons/f-mail.svg");
      }
    }

    &--time {
      &::before {
        content: url("../img/icons/f-time.svg");
      }
    }

    a {
      color: inherit;
      transition: $base-transition;

      &:hover {
        color: #ff8b00;
      }
    }
  }
}
