.s-subscribe {
  position: relative;
  height: 439px;
  margin: 75px 0;
  padding-top: 83px;
  padding-bottom: 70px;
  color: #ffffff;
  background-color: #252525;
  overflow-x: hidden;

  @include md-block() {
    // margin-top: 50px;
    // font-size: 25px;
    height: auto;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: inline-block;
    width: 100%;
    height: 0;
    border-width: 55px 1920px 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
  }

  &::after {
    top: auto;
    bottom: 0;
    border-width: 0 0 55px 1920px;
    border-color: transparent transparent #ffffff transparent;
  }

  &__title {
    margin-bottom: 30px;
    font-family: $second-typeface;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;

    @include sm-block() {
      margin-top: 50px;
      font-size: 25px;
    }
  }

  &__woman {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 506px;
    background-image: url("../img/woman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__subscribe-form {
    text-align: left;

    .custom-checkbox {
      padding-left: 0;
    }
  }

  .col-4 {
    @include size(4);
    @include md-block() {
      display: none;
    }
  }

  .col-8 {
    @include size-md(12);
  }
}
