.s-hero {
  margin-bottom: 75px;
  padding-top: 133px;
  padding-bottom: 193px;
  // height: 700px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    max-width: 730px;
    margin-bottom: 40px;
    font-family: $second-typeface;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 578px;
    margin-bottom: 90px;
    font-size: 18px;
    opacity: 0.7;
  }
}
