.p-delivery {
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #020205;

    @include sm-block() {
      font-size: 20px;
    }
  }
}

.p-delivery-info {
  .seo-text {
    padding-bottom: 40px;
  }

  a {
    color: inherit;
  }

  padding: 30px;
  background-color: #f7f7f5;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__row {
    @include row-flex;
  }

  &__col-6 {
    @include col();
    @include size(6);
    @include size-sm(12);

    &:not(:last-child) {
      padding-right: 15px;
      border-right: 1px solid #cccccc;

      @include sm-block() {
        margin-bottom: 30px;
        padding-right: 0;
        padding-bottom: 30px;
        border-right: none;
        border-bottom: 1px solid #cccccc;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 40px;
    padding-left: 55px;
    font-weight: 700;
    font-size: 30px;
    color: #020205;

    @include sm-block() {
      font-size: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);

      @include sm-block() {
        width: 35px;
        height: 35px;
      }
    }

    &--truck::before {
      content: url("../img/icons/truck.svg");
    }

    &--car::before {
      content: url("../img/icons/car.svg");
    }

    &--credit::before {
      content: url("../img/icons/credit.svg");
    }
  }

  &__descr {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #3f3f3f;

    @include sm-block() {
      font-size: 14px;
    }
  }

  &__list {
    font-size: 18px;
    color: #3f3f3f;
  }

  &__item {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;

    @include sm-block() {
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 25px;
      height: 25px;
    }

    &--time::before {
      content: url("../img/icons/f-time.svg");
    }

    &--truck::before {
      content: url("../img/icons/white-truck.svg");
    }

    &--calendar::before {
      content: url("../img/icons/calendar.svg");
    }

    &--tel::before {
      content: url("../img/icons/f-mobile.svg");
    }
  }

  &__credit {
    display: flex;
    align-items: center;
    margin-top: 20px;

    img {
      display: block;
      max-width: 154px;

      @include sm-block() {
        max-width: 77px;
      }

      &:not(:last-child) {
        margin-right: 70px;

        @include md-block() {
          margin-right: 35px;
        }

        @include sm-block() {
          margin-right: 20px;
        }
      }
    }
  }
}
